<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>P2P Video Chat Application</title>
  <!-- Load Style -->
  <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
	<h1>P2P Video Chat Application</h1>

  <!-- Display Video -->
  <article>
    <video class="local-stream" autoplay></video>
    <video class="remote-stream" autoplay></video>
  </article>

  <!-- Load Script -->
  <script type="module" src="../public/index.js"></script>

</body>

</html>